@import "utils";

.header {
 // margin-top: 0%;
  .header-content {
    height: 52px;
    width: 1400px;
    background: #FFFFFF;
    position: absolute;
    margin-top: 0%;
    padding-left: 3rem;
    padding-right: 3rem;
    //내부 아이템 세로 가운데 정렬
    display: flex;
    align-items: center;

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .brand{
      align-items: center;
      justify-content: 'center';
      background-image: url("http://localhost:7777/hamberger.PNG");
      color:#C9B3D7;
    }

    .login {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      margin-left: auto;

      color: #474747;
      cursor: pointer;
      &:hover {
        color:#C9B3D7;
      }

    }


  }
}