.WriteWrapper {
    width: 50rem;
    padding-top: 120px;
    margin-left: 14.1%;
}

.ql-editor {
    overflow-y: scroll;
    resize: vertical;
    min-height: 18em;
}

.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
}
